/*==============================create post icon==============*/
._3utuhrSAkEkzgaswqglvpN._2aVSEFJsIE0M-4uRE-U24H {
    background: #818384;
}
.-awYpPVpSqtYs7lioCLhw {
    border: none;
}
._3utuhrSAkEkzgaswqglvpN {
    background: #d7dfe2;
    fill: #fff;
}
._3utuhrSAkEkzgaswqglvpN, ._2TN8dEgAQbSyKntWpSPYM7 {
    box-sizing: border-box;
    border: 1px solid #343536;
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
}
svg:not(:root) {
    overflow: hidden;
}


/*================================hader tab svgssss==============*/
._2bDYspp_i6ETGHhD6zIa94 {
    fill: inherit;
    height: 20px;
    width: 20px;
}

.Ls9uHSAO9p2g7EMya2KXp {
    display: block;
    fill: currentColor;
    height: 16px;
    margin: 0 auto;
    width: 16px;
}


/*=============================*/